@media screen and (max-width: 576px) {

    /* common style */
    .section-header {
        width: 100%;
        margin-bottom: 30px;
    }

    .section-title {
        font-size: 25px;
    }

    .section-gap {
        margin-bottom: 50px;
    }

    /* banner */
    .banner-card {
        height: 250px;
    }

    .banner-content {
        width: 100% !important;
    }

    .banner-title {
        font-size: 30px;
    }

    .banner-text {
        width: 100% !important;
    }

    .banner-input {
        width: 150px;
        padding: 10px;
    }

    .banner-search {
        padding: 10px 40px;
    }

    /* legal area */

    .legal-card-border {
        border: 1px solid #E7E7E7 !important;
        border-radius: 5px !important;
    }

    .legal-card-img {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    /* carousel */
    .carousel-imgs {
        height: 350px;
    }

    /* contact us */
    .contact-us-border {
        border: 1px solid #E7E7E7 !important;
        margin-bottom: 15px;
        border-radius: 5px;
    }
}